@{
    Layout = "_Layout";
}

@* <div class="flex items-center grow"><p class="h5"><span class="relative"></span></p></div>
<div class="mb-4"><p class="text-body-1 text-neutral-800"></p></div>
 *@




















@*























    
<table class="table table-striped mb-3">
    

class="mb-2 mt-5"


<thead>
    <tr class="table-dark">
        <th width="390">عنوان</th>
        <th width="390">مقدار</th>
    </tr>
</thead>



text-primary fw-bold mb-2 mt-3



style="list-style:disc; padding:10px; padding-right:20px;"


*@




















































































