@{
    Layout = "_Layout";
}
<div class="flex items-center grow"><p class="grow text-h5 "><span class="relative"></span></p></div>
<div class="mb-4"><p class="text-body-1 text-neutral-800"></p></div>






<div class="flex items-center grow"><p class="grow text-h5 "><span class="relative">برنج طارم ممتاز گلستان</span></p></div><div class="mb-4"><p class="text-body-1 text-neutral-800">نج طارم گلستان، محصولی ایرانی است که با توجه به کیفیت برتر، به علت داشتن مقدار مناسبی از پروتئین، فیبر، ویتامین‌ها و مواد معدنی، همواره بین مردم ایران محبوب بوده­است. این برنج ایرانی به­دلیل دارا بودن از طعم و عطری منحصر به­فرد، در بین سایر نمونه­های موجود دیگر برجسته است. لازم به ذکر است که برند گلستان تضمین می‌دهد کالای ارائه‌شده‌توسط این برند، اصل و بدون هیچ‌گونه افزودنی غیرطبیعی است. اطمینان از اصالت کالا، می‌تواند نگرانی‌های شما را از بابت خرید آنلاین آن برطرف کند.</p></div>































