<div class="container-fluid-lg">
    <div class="row">
        <div class="col-12">
            <div class="main-nav">
                <div class="header-nav-left">
                    <button class="dropdown-category dropdown-category-2">
                        <i class="iconly-Category icli"></i>
                        <span>دسته بندی</span>
                    </button>

                    <div class="category-dropdown">
                        <div class="category-title">
                            <h5>دسته بندی</h5>
                            <button type="button" class="btn p-0 close-button text-content">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>

                        <ul class="category-list">
                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/vegetable.svg" alt="">
                                    <h6>میوه جنوب</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>سبزیجات ارگانیک</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">سیب زمینی و گوجه فرنگی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">خیار و فلفل دلمه ای</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبزیجات برگ دار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ریشه سبزیجات</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">لوبیا و بامیه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کلم و گل کلم</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کدو و چوب طبل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبزیجات</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>میوه تازه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">موز و پاپایا</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کیوی، مرکبات</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سیب و انار</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">میوه های فصل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">انبه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبدهای میوه</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/cup.svg" alt="">
                                    <h6>نوشیدنی ها</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box w-100">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>انرژی و نوشابه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">مخلوط سودا و کوکتل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">مخلوط سودا و کوکتل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ورزش و نوشیدنی های انرژی زا</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نوشیدنی های غیر الکلی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آب بسته بندی شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آب چشمه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آب طعم دار</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/meats.svg" alt="">
                                    <h6>گوشت و غذاهای دریایی</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>گوشت</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">گوشت تازه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گوشت منجمد</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گوشت ترشی شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گوشت تازه و منجمد</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>غذای دریایی</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">ماهی آب شیرین</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماهی خشک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماهی و غذاهای دریایی منجمد</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماهی آب دریایی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">غذاهای دریایی کنسرو شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">میگو و میگو</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سایر غذاهای دریایی</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/breakfast.svg" alt="">
                                    <h6>صبحانه و لبنیات</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>غلات صبحانه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">جو و فرنی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">غلات بچه گانه</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">موسلی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پولک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گرانولا و میله غلات</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نودل فوری</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پاستا و ماکارونی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">تنقلات یخ زده غیر گیاهی</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>لبنیات</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">شیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کشک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پنیر، توفو و کرم</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کره و مارگارین</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">شیر خشک غلیظ شده</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">دوغ و لاسی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماست و شریکند</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">طعم دار، شیر سویا</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/frozen.svg" alt="">
                                    <h6>غذای یخ زده</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box w-100">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>نودل و پاستا</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">نودل فوری</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نودل هاکا</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نودل فنجانی</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ورمیشل</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پاستا فوری</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/biscuit.svg" alt="">
                                    <h6>بیسکویت و تنقلات</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>بیسکویت و کلوچه</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">بیسکویت‌های شور</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماری، سلامت، گوارش</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">بیسکویت خامه‌ای و ویفر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">بیسکویت‌های گلوکز و شیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">کوکی‌ها</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>میان وعده های نانوایی</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">چوب نان و لواش</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">نان پنیر و سیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">پفک، پاتی، ساندویچ</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">خردهای نان و کروتون</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="onhover-category-list">
                                <a href="javascript:void(0)" class="category-name">
                                    <img src="assets/svg/1/grocery.svg" alt="">
                                    <h6>مواد غذایی</h6>
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>

                                <div class="onhover-category-box">
                                    <div class="list-1">
                                        <div class="category-title-box">
                                            <h5>خواربار</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">لیمو، زنجبیل و سیر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">گیاهان هندی و عجیب و غریب</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">سبزیجات ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">میوه‌های ارگانیک</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="list-2">
                                        <div class="category-title-box">
                                            <h5>منگنه های ارگانیک</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">میوه‌های خشک ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">دال و پالس ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ارن و آرد ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">شکر ارگانیک، نعناع</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">ماسالا و ادویه ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">برنج ارگانیک، برنج دیگر</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">آردهای ارگانیک</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">روغن خوراکی ارگانیک، قیمه</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="right-nav">
                    <div class="nav-number">
                        <img src="assets/images/icon/music.png" class="img-fluid blur-up lazyload" alt="">
                        <span>(123) 456 7890</span>
                    </div>
                    <a href="javascript:void(0)" class="btn theme-bg-color ms-3 fire-button"
                       data-bs-toggle="modal" data-bs-target="#deal-box">
                        <div class="fire">
                            <img src="assets/images/icon/hot-sale.png" class="img-fluid">
                        </div>
                        <span>فروش آتشین</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>