@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.CategoryDtos
@{
    var categories = ViewData["Categories"] as List<CategoryListDto> ?? new List<CategoryListDto>();
}

<div class="container-fluid-lg">
    <div class="row">
        <div class="col-12">
            <div class="main-nav">
                <div class="header-nav-left">
                    <button class="dropdown-category dropdown-category-2">
                        <i class="iconly-Category icli"></i>
                        <span>دسته بندی</span>
                    </button>

                    <div class="category-dropdown">
                        <div class="category-title">
                            <h5>دسته بندی</h5>
                            <button type="button" class="btn p-0 close-button text-content">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>

                        <ul class="category-list">

                            @{
                                var item_ = new CategoryListDto(); 
                            }

                            @foreach (var item in categories.Where(a => a.ParentId == null))
                            {
                                if(categories.Where(a => a.ParentId == item.Id).Any())
                                {
                                    <li class="onhover-category-list">
                                        <a href="/products/category/@item.Title.EncodePersian()" class="category-name">
                                            @*<img src="" alt="">*@
                                            <h6>@item.Title</h6>
                                            <i class="fa-solid fa-angle-left"></i>
                                        </a>
                                        <div class="onhover-category-box">
                                            @foreach (var item1 in categories.Where(a => a.ParentId == item.Id))
                                            {
                                                <div class="list-1">
                                                    <div class="category-title-box">
                                                        <a class="h5" href="/products/category/@item1.Title.EncodePersian()">@item1.Title</a>
                                                    </div>
                                                    <ul>
                                                        @foreach (var item2 in categories.Where(a => a.ParentId == item1.Id))
                                                        {
                                                            <li>
                                                                <a href="/products/category/@item2.Title.EncodePersian()">@item2.Title</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="onhover-category-list">
                                        <a href="/products/category/@item.Title.EncodePersian()" class="category-name">
                                            @*<img src="" alt="">*@
                                            <h6>@item.Title</h6>
                                            <i class="fa-solid fa-angle-left"></i>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="right-nav">
                    <div class="nav-number">
                        <img src="~/site/assets/images/icon/music.png" class="img-fluid blur-up lazyload" alt="">
                        <span>(123) 456 7890</span>
                    </div>
                    <a href="javascript:void(0)" class="btn theme-bg-color ms-3 fire-button"
                       data-bs-toggle="modal" data-bs-target="#deal-box">
                        <div class="fire">
                            <img src="~/site/assets/images/icon/hot-sale.png" class="img-fluid">
                        </div>
                        <span>فروش آتشین</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>