    <!-- Banner Section Start -->
<section class="banner-section">
    <div class="container-fluid-lg">
        <div class="row gy-lg-0 gy-3">
            <div class="col-lg-6">
                <div class="banner-contain-3 hover-effect">
                    <img src="~/site/assets/images/veg-3/banner/1.png" class="bg-img img-fluid" alt="">
                    <div class="banner-detail text-white p-center-left w-50 position-relative mend-auto">
                        <div>
                            <h6 class="ls-expanded text-uppercase">ویژه</h6>
                            <h3 class="mb-sm-3 mb-1">سبزیجات تازه و مصرف روزانه</h3>
                            <h4>حداکثر تا 50% تخفیف</h4>
                            <button class="btn theme-color bg-white btn-md fw-bold mt-sm-3 mt-1 mend-auto"
                                    onclick="location.href = 'shop-left-sidebar.html';">
                                خرید آنلاین
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner-contain-3 hover-effect">
                    <img src="~/site/assets/images/veg-3/banner/2.png" class="bg-img img-fluid" alt="">
                    <div class="banner-detail text-dark p-center-left w-50 position-relative mend-auto">
                        <div>
                            <h6 class=" ls-expanded text-uppercase">سریع</h6>
                            <h3 class="mb-sm-3 mb-1">100% میوه های طبیعی و سالم</h3>
                            <h4 class="text-content">ویژه آخر هفته</h4>
                            <button class="btn theme-bg-color text-white btn-md fw-bold mt-sm-3 mt-1 mend-auto"
                                    onclick="location.href = 'shop-left-sidebar.html';">
                                خرید آنلاین
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->