 <!-- home section start -->
<section class="home-section-2 section-b-space">
    <div class="container-fluid-lg">
        <div class="row g-4">
            <div class="col-xxl-6 col-xl-8 col-md-6">
                <div class="home-contain h-100">
                    <img src="~/site/assets/images/veg-3/home/1.png" class="img-fluid bg-img blur-up lazyload" alt="">
                    <div class="home-detail w-50 p-center-left position-relative">
                        <div>
                            <h6 class="ls-expanded theme-color">اورگانیک</h6>
                            <h1 class="fw-bold w-100">100% طبیعی</h1>
                            <h3 class="text-content fw-light">میوه و سبزیجات</h3>
                            <p class="d-sm-block d-none">ارسال رایگان و سریع درب منزل</p>
                            <button onclick="location.href = 'shop-left-sidebar.html';"
                                    class="btn mt-sm-4 btn-2 theme-bg-color text-white mend-auto btn-2-animation">
                                خرید آنلاین
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-xl-4 col-md-6 ratio_medium">
                <div class="home-contain">
                    <div>
                        <img src="~/site/assets/images/veg-3/home/2.png" class="img-fluid bg-img blur-up lazyload"
                             alt="">
                    </div>
                    <div class="home-detail text-center p-top-center w-100 text-white">
                        <div>
                            <h4 class="fw-bold">سبزیجات تازه و اورگانیک</h4>
                            <h5 class="text-center">تحویل به موقع</h5>
                            <button class="btn bg-white theme-color mt-3 home-button mx-auto btn-2"
                                    onclick="location.href = 'shop-left-sidebar.html';">
                                خرید آنلاین
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 ratio_65">
                <div class="row g-3">
                    <div class="col-xxl-12 col-sm-6">
                        <div class="home-contain">
                            <a href="shop-left-sidebar.html">
                                <img src="~/site/assets/images/veg-3/home/3.png"
                                     class="img-fluid bg-img blur-up lazyload" alt="">
                            </a>
                            <div class="home-detail text-white p-center text-center">
                                <div>
                                    <h4 class="text-center">زندگی شاد</h4>
                                    <h5 class="text-center">با تخفیف ویژه هفتگی</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-12 col-sm-6">
                        <div class="home-contain">
                            <a href="shop-left-sidebar.html">
                                <img src="~/site/assets/images/veg-3/home/4.png"
                                     class="img-fluid bg-img blur-up lazyload" alt="">
                            </a>
                            <div class="home-detail text-white w-50 p-center-left home-p-sm">
                                <div>
                                    <h4 class="fw-bold">غذای دریایی متمایز</h4>
                                    <h5>تخفیف ویژه</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Section End -->