@using OrganicShop.Domain.Dtos.NewsLetterMemberDtos
@model CreateNewsLetterMemberDto

<!-- Newsletter Section Start -->
<section id="newsletter-section" class="newsletter-section-2 section-b-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="newsletter-box hover-effect">
                    <img src="~/site/assets/images/veg-3/shape/background.png" class="img-fluid bg-img" alt="">

                    <div class="row">
                        <div class="col-xxl-8 col-xl-7">
                            <div class="newsletter-detail p-center-left text-white">
                                <div>
                                    <h2>در خبرنامه ما عضو شوید</h2>
                                    <h4>با عضویت در خبرنامه تخفیف 30 درصدی برای خرید اول دریافت میکنید.</h4>
                                    <form class="row g-2 mt-4 newsletter-form" action="/Home/SubscribeNewsLetter" onsubmit="FetchRequest(event)"
                                          method="post" data-target-id="newsletter-section">
                                        <div class="col-8">
                                            <input asp-for="Email" type="text" class="form-control" id="email"
                                                   placeholder="ایمیل خود وارد کنید">
                                            <span asp-validation-for="Email" class="mt-2 text-danger"></span>
                                        </div>                                        
                                        <div class="col-sm-2 col-4 mb-3">
                                            <button type="submit"
                                                    class="btn bg-white theme-color btn-md fw-500 submit-button w-100 h-100">
                                                عضویت
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-5 d-xl-block d-none">
                            <div class="shape-box">
                                <img src="~/site/assets/images/veg-3/shape/basket.png" alt="" class="img-fluid image-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Section End -->