  <!-- Value Section Start -->
<section>
    <div class="container-fluid-lg">
        <div class="title">
            <h2>محصولات ویژه</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="three-slider arrow-slider ratio_65">
                    <div>
                        <div class="offer-banner hover-effect">
                            <img src="~/site/assets/images/veg-3/value/1.png" class="img-fluid bg-img blur-up lazyload"
                                 alt="">
                            <div class="banner-detail">
                                <h5 class="theme-color">خرید بیشتر سود بیشتر!</h5>
                                <h6>سبزیجات تازه</h6>
                            </div>
                            <div class="offer-box">
                                <button onclick="location.href = 'shop-left-sidebar.html';"
                                        class="btn-category btn theme-bg-color text-white">
                                    نمایش تخفیف
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="offer-banner hover-effect">
                            <img src="~/site/assets/images/veg-3/value/2.png" class="img-fluid bg-img blur-up lazyload"
                                 alt="">
                            <div class="banner-detail">
                                <h5 class="theme-color">سود بیشتر!</h5>
                                <h6>سبزیجات تازه</h6>
                            </div>
                            <div class="offer-box">
                                <button onclick="location.href = 'shop-left-sidebar.html';"
                                        class="btn-category btn theme-bg-color text-white">
                                    نمایش تخفیف
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="offer-banner hover-effect">
                            <img src="~/site/assets/images/veg-3/value/3.png" class="img-fluid bg-img blur-up lazyload"
                                 alt="">
                            <div class="banner-detail">
                                <h5 class="theme-color">پرفروش ترین ها</h5>
                                <h6>سبزیجات تازه</h6>
                            </div>
                            <div class="offer-box">
                                <button onclick="location.href = 'shop-left-sidebar.html';"
                                        class="btn-category btn theme-bg-color text-white">
                                    نمایش تخفیف
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="offer-banner hover-effect">
                            <img src="~/site/assets/images/veg-3/value/1.png" class="img-fluid bg-img blur-up lazyload"
                                 alt="">
                            <div class="banner-detail">
                                <h5 class="theme-color">خرید بیشتر ، سود بیشتر</h5>
                                <h6>سبزیجات تازه</h6>
                            </div>
                            <div class="offer-box">
                                <button onclick="location.href = 'shop-left-sidebar.html';"
                                        class="btn-category btn theme-bg-color text-white">
                                    نمایش تخفیف
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Value Section End -->