
@* @model SellerDetailDto

 *@
@section Breadcrumb{

    <div class="breadcrumb-contain">
        <h2>@() : لیست فروشندگان </h2>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active">لیست فروشندگان 2</li>
            </ol>
        </nav>
    </div>

}