@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.UserDtos
@using OrganicShop.Domain.Enums
@using OrganicShop.Domain.Enums.EnumValues
@model ChangePasswordDto

<div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">ویرایش اطلاعات</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="modal-body">
            <form class="row g-4" id="change-user-password-form" action="/prodfile/change-password" method="post" data-container-id="change-user-password-modal">

                <div class="col-xxl-12 mb-4">
                    <div class="form-floating theme-form-floating">
                        <input type="text" class="form-control" asp-for="Password">
                        <label asp-for="Password"></label>
                    </div>
                    <span asp-validation-for="Password" class="text-dange mt-2"></span>
                </div>

                <div class="col-xxl-6 mb-4">
                    <div class="form-floating theme-form-floating">
                        <input type="text" class="form-control" asp-for="NewPassword">
                        <label asp-for="NewPassword"></label>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-dange mt-2"></span>
                </div>

                <div class="col-xxl-6 mb-4">
                    <div class="form-floating theme-form-floating">
                        <input type="text" class="form-control" asp-for="NewPasswordRepeat">
                        <label asp-for="NewPasswordRepeat"></label>
                    </div>
                    <span asp-validation-for="NewPasswordRepeat" class="text-dange mt-2"></span>
                </div>


            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal" id="change-user-ppasword-modal-close-button">بستن</button>
            <button type="button" class="btn theme-bg-color btn-md fw-bold text-light" onclick="ChangeUserPasswordSubmit('change-user-password-form')">ذخیره تغییرات</button>
        </div>
    </div>
</div>

