@using OrganicShop.Domain.Dtos.UserDtos
@using OrganicShop.Domain.Enums
@model VerifyEmailToken

@{
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2 class="mb-2">تایید ایمیل</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">تایید ایمیل</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}


<section class="log-in-section otp-section section-b-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="~/site/assets/images/inner-page/otp.png" class="img-fluid" alt="">
                </div>
            </div>

            <form id="send-verification-email-form" action="/user/email-verify" class="col-xxl-4 col-xl-5 col-lg-6 me-auto" method="post">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3 class="text-title">تایید ایمیل کاربر</h3>
                            <h5 class="text-content">ایمبل فعالسازی به ایمیل زیر ارسال خواهد شد : <br>
                                <span style="margin-top: 15px;">@User.GetAppUser().Email</span>
                            </h5>
                        </div>

                        <button onclick="FetchRequestFormWithId('send-verification-email-form')" class="btn btn-animation w-100 mt-3" type="button">
                            ارسال
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {

    <script src="~/site/views/user/profile.js"></script>
}


