@using OrganicShop.Domain.Dtos.CommentDtos
@model CreateCommentUserDto
@{
    long? productId = ViewData["ProductId"] as long?;
    string? productImageName = ViewData["ProductImageName"] as string;
    string? productTitle = ViewData["ProductTitle"] as string;
    @if(productId == null || productImageName == null || productTitle == null)
    {
        throw new Exception("ProductId and ProductIamgeName and ProductTitle viewdata are null in _AddCommentModal");
    }
}

<!-- Review Modal Start -->
<div class="modal fade theme-modal question-modal" id="writereview" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">دیدگاه خود را بنویسید</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body pt-0">
                <form class="product-comment-form" action="/Comment/CreateForUser" method="post" onsubmit="FetchRequest(event)">
                    <input asp-for="ProductId" hidden value="@productId"/>
                    <div class="product-wrapper">
                        <div class="product-image">
                            <img class="img-fluid" alt="Solid Collared Tshirts"
                                 src="~/media/images/product/@productImageName">
                        </div>
                        <div class="product-content">
                            <h5 class="name">@productTitle</h5>
                        </div>
                    </div>
                    <div class="review-box">
                        <input asp-for="Rate" hidden/>
                        <div class="product-review-rating">
                            <label>امیتاز</label>
                            <div class="product-rating">
                                <ul class="rating">
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <span asp-validation-for="Rate" class="text-danger mt-2"></span>
                    </div>
                    <div class="review-box">
                        <label for="content" class="form-label">دیدگاه شما *</label>
                        <textarea asp-for="Text" required id="content" rows="3" class="form-control" placeholder="دیدگاه خود را تایپ کنید"></textarea>
                        <span asp-validation-for="Text" class="text-danger mt-2"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-theme-outline fw-bold" data-bs-dismiss="modal">
                    بستن
                </button>
                <button id="product-comment-button" type="button" class="btn btn-md fw-bold text-light theme-bg-color">ثبت</button>
            </div>
        </div>
    </div>
</div>
<!-- Review Modal End -->
