@using OrganicShop.BLL.Extensions
@using OrganicShop.Domain.Dtos.AddressDtos
@using OrganicShop.Domain.Enums
@using OrganicShop.Domain.Enums.EnumValues
@model CreateAddressDto

@{
    if(Model.UserId > 0 == false)
        throw new Exception("UserId is not valid in _AddAddressModal ");
}

<form class="modal fade theme-modal show" id="add-address-modal-from" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <input hidden readonly asp-for="UserId" value="@Model.UserId"/>
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">افرودن آدرس جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-3">
                    <div class="form-floating mb-4 theme-form-floating">
                        <input asp-for="Title" type="text" class="form-control" id="title" placeholder="نام و نام خانوادگی خود را وارد کنید">
                        <label for="title" asp-for="Title"></label>
                    </div>
                    <span asp-validation-for="Title" class="text-danger mt-1"></span>
                </div>

                <div class="mt-3">
                    <div class="form-floating mb-4 theme-form-floating">
                        <input asp-for="ReceiverName" type="text" class="form-control" id="fname" placeholder="نام و نام خانوادگی خود را وارد کنید">
                        <label for="fname" asp-for="ReceiverName"></label>
                    </div>
                    <span asp-validation-for="ReceiverName" class="text-danger mt-1"></span>
                </div>


                <div class="mt-3">
                    <div class="form-floating mb-4 theme-form-floating">
                        <input asp-for="PhoneNumber" type="text" class="form-control" id="phone-number" placeholder="نام و نام خانوادگی خود را وارد کنید">
                        <label for="phone-number" asp-for="PhoneNumber"></label>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger mt-1"></span>
                </div>


                <div class="mt-3">
                    <div class="form-floating mb-4 theme-form-floating">
                        <select asp-for="Province" type="text" class="form-control" id="province">
                            @foreach (var province in EnumExtension.GetArray<Province>())
                            {
                                <option value="@((byte)province)">@province.ToStringValue()</option>
                            }
                        </select>
                        <label for="province" asp-for="Province"></label>
                    </div>
                    <span asp-validation-for="Province" class="text-danger mt-1"></span>
                </div>


                <div class="mt-3">
                    <div class="form-floating mb-4 theme-form-floating">
                        <textarea asp-for="Text" class="form-control" placeholder="Leave a comment here" id="address-text" style="height: 100px"></textarea>
                        <label for="address-text" asp-for="Text"></label>
                    </div>
                    <span asp-validation-for="Text" class="text-danger mt-1"></span>
                </div>



                <div class="mt-3">
                    <div class="form-floating mb-4 theme-form-floating">
                        <input asp-for="PostCode" type="text" class="form-control" id="postcode" placeholder="نام و نام خانوادگی خود را وارد کنید">
                        <label for="postcode" asp-for="PostCode"></label>
                    </div>
                    <span asp-validation-for="PostCode" class="text-danger mt-1"></span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id="add-address-modal-from-close-button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">بستن</button>
                <button type="button" id="add-address-modal-from-submit-button" class="btn theme-bg-color btn-md text-white">افزودن آدرس</button>
            </div>
        </div>
    </div>
</form>