@using OrganicShop.Domain.Dtos.CommentDtos
@model CreateCommentFeedbackUserDto

<form class="mt-3" id="add-feedback-form" action="/feedback/user/add" method="post" data-target-id="add-feedback-form">
    <input asp-for="ProductId" readonly class="hide" />
    <span asp-validation-for="ProductId" class="text-danger mt-2"></span>
    <div class="review-box mt-4">
        <div class="product-review-rating">
            <label>امتیاز *</label>
            <select id="create-comment-feedback-rate-input" class="form-control mt-2" asp-for="Rate" onchange="ChangeCommentRateStars(this)">
                <option selected disabled>--- امتیاز مورد نظر را انتخاب کنید</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="product-rating mt-2">
                <ul class="rating" id="comment-rate-stars">
                    @for (int i = 1; i <= Model.Rate; i++)
                    {
                        <li>
                            <i style="color:#ffb321; font-size:15px;" class="fa-solid fa-star"></i>
                        </li>
                    }
                    @for (int i = 1; i <= 5 - Model.Rate; i++)
                    {
                        <li>
                            <i style="color:#ffb321; font-size:15px;" class="fa-light fa-star"></i>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <span asp-validation-for="Rate" class="text-danger mt-2"></span>
    </div>
    <div class="review-box mt-3">
        <label for="content" class="form-label">دیدگاه شما *</label>
        <textarea asp-for="Text" required id="content" rows="3" class="form-control" placeholder="دیدگاه خود را تایپ کنید"></textarea>
        <span asp-validation-for="Text" class="text-danger mt-2"></span>
    </div>
</form>