@using OrganicShop.Domain.Dtos.ProductItemDtos
@model CreateProductItemDto

<form id="add-to-cart-form" hidden action="/Cart/AddProduct" method="post">
    <input type="number" id="add-to-cart-form-productId" asp-for="ProductId" hidden readonly value="" />
    <input type="number" id="add-to-cart-form-count" asp-for="Count" hidden readonly value="" />
</form>