@using OrganicShop.Domain.Dtos.ProductItemDtos
@model CreateProductItemDto


<form>
    <input asp-for="ProductId"/>
    <input asp-for="ProductVarientId"/>
    <input asp-for="Count"/>
</form>

<div class="price-qty">
    <div class="counter-number">
        <div class="counter">
            <div class="qty-left-minus" data-type="minus" data-field="">
                <i class="fa-solid fa-minus"></i>
            </div>
            <input class="form-control input-number qty-input" type="text" name="quantity" value="0">
            <div class="qty-right-plus" data-type="plus" data-field="">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>

    <button class="buy-button buy-button-2 btn btn-cart">
        <i class="iconly-Buy icli text-white m-0"></i>
    </button>
</div>

<div class="cart_qty qty-box product-qty">
    <div class="input-group">
        <button type="button">
            <i class="fa fa-minus"></i>
        </button>
        <input class="form-control" type="text" value="1">
        <button type="button">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
