<form id="edit-product-wishlist-form" hidden action="/User/EditProductWishList" method="post">
    <input type="number" name="productId" hidden readonly value="0" />
    <input type="text" name="isDelete" hidden readonly value="false" />
</form>
