<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="assets/images/favicon/1.png" type="image/x-icon">
    <title>OraganicShop - ارگانیک شاپ</title>


    <partial name="_SiteStyles" />

    @RenderSection("Styles", false)

</head>



<body class="bg-effect">



    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    @await Component.InvokeAsync("SiteHeader")


    <main role="main" id="view-container">
        @RenderBody()
    </main>


    @await Component.InvokeAsync("SiteFooter")

    <partial name="_BackToTop" />

    <partial name="_SiteScripts" />

    @if (TempData["Toast"] != null)
    {
        var toast = Toast.GetToastFromTempData(TempData["Toast"]);
        <partial name="_ToastPartial" model="toast" />
    }

    @RenderSection("Scripts", false)

</body>
</html>
