@model float
@{
    bool? ShowAvarege = ViewData["Aarage"] as bool?;
}

<ul class="rating">
    @{
        int i = 1;
        for (i = 1; i <= float.Floor(Model); i++)
        {
            <li>
                <i class="fa-solid fa-star-sharp"></i>
            </li>

        }
        if ((Model * 10) % 10 >= 5)
        {
            <li>
                <i class="fa-solid fa-star-half-stroke"></i>
            </li>
            for (int j = 5; j > i + 1; j--)
            {
                <li>
                    <i class="fa-regular fa-star-sharp"></i>
                </li>
            }
        }
        else
        {
            for (int j = 5; j > i; j--)
            {
                <li>
                    <i class="fa-regular fa-star-sharp"></i>
                </li>
            }
        }
    }

    @*   <i class="fa-solid fa-star-sharp"></i>
    <i class="fa-solid fa-star-half-stroke"></i>
    <i class="fa-regular fa-star-sharp"></i>

    <li>
    <i data-feather="star" class="fill"></i>
    </li>
    <li>
    <i data-feather="star" class="fill"></i>
    </li>
    <li>
    <i data-feather="star" class="fill"></i>
    </li>
    <li>
    <i data-feather="star"></i>
    </li>
    <li>
    <i data-feather="star"></i>
    </li> *@
</ul>
<span>(@(Model.ToString("0.0")))</span>