@model float
@{
    float decimalValue = (Model * 10) % 10;
}
<ul class="rating">
    @{
        int i = 0;
        for (i = 0; i < float.Floor(Model); i++)
        {
            <li>
                <i class="fa-solid fa-star-sharp"></i>
            </li>

        }
        if (decimalValue >= 5)
        {
            <li>
                <i class="fa-solid fa-star-half-stroke"></i>
            </li>
            for (int j = 5 - i - 1; j >= 1; j++)
            {
                <li>
                    <i class="fa-regular fa-star-sharp"></i>
                </li>
            }
        }
        else
        {
            for (int j = 5 - i; j >= 1; j++)
            {
                <li>
                    <i class="fa-regular fa-star-sharp"></i>
                </li>
            }
        }
    }


    @* $(':radio').change(
    function(){
    $('.choice').text( this.value + ' stars' );
    }
    ) *@

    @*   <i class="fa-solid fa-star-sharp"></i>
    <i class="fa-solid fa-star-half-stroke"></i>
    <i class="fa-regular fa-star-sharp"></i>

    <li>
    <i data-feather="star" class="fill"></i>
    </li>
    <li>
    <i data-feather="star" class="fill"></i>
    </li>
    <li>
    <i data-feather="star" class="fill"></i>
    </li>
    <li>
    <i data-feather="star"></i>
    </li>
    <li>
    <i data-feather="star"></i>
    </li> *@
</ul>
