@using OrganicShop.Domain.Dtos.CommentDtos
@model CreateCommentFeedbackUserDto

<form class="leave-box" method="post" onsubmit="FetchRequest(event)" action="/Comment/Create" id="create-comment-form">
    @if(Model.ProductId != null)
    {
        <input asp-for="ProductId" hidden readonly/>
    }
    else if(Model.ArticleId != null)
    {
        <input asp-for="ArticleId" hidden readonly/>
    }
    else
    {
        throw new Exception("productId and articleId are null in send comment partial !");
    }
    <input hidden readonly asp-for="Rate" value="1" />
    <div class="leave-title mt-0">
        <h3>ارسال دیدگاه</h3>
    </div>

    <div class="leave-comment">
        <div class="comment-notes">
            <p class="text-content mb-4">آدرس ایمیل شما منتشر نخواهد شد!</p>
        </div>
        <div class="row g-3">
            <div class="col-12 mb-2">
                <div class="blog-input">
                    <textarea asp-for="Text" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="دیدگاه شما"></textarea>
                    <span asp-validation-for="Text" class="mt-2 text-danger"></span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-animation ms-xxl-auto mt-xxl-0 mt-3 btn-md fw-bold">ارسال دیدگاه</button>
    </div>
</form>
