<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->

<!-- latest jquery-->
<script src="~/site/assets/js/jquery-3.6.0.min.js"></script>

<!-- jquery ui-->
<script src="~/site/assets/js/jquery-ui.min.js"></script>

<!-- Bootstrap js-->
<script src="~/site/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/site/assets/js/bootstrap/bootstrap-notify.min.js"></script>
<script src="~/site/assets/js/bootstrap/popper.min.js"></script>

<!-- feather icon js-->
<script src="~/site/assets/js/feather/feather.min.js"></script>
<script src="~/site/assets/js/feather/feather-icon.js"></script>

<!-- Lazyload Js -->
<script src="~/site/assets/js/lazysizes.min.js"></script>

<!-- Slick js-->
<script src="~/site/assets/js/slick/slick.js"></script>
<script src="~/site/assets/js/slick/slick-animation.min.js"></script>
<script src="~/site/assets/js/slick/custom_slick.js"></script>

<!-- Auto Height Js -->
<script src="~/site/assets/js/auto-height.js"></script>

<!-- Timer Js -->
<script src="~/site/assets/js/timer.js"></script>

<!-- Fly Cart Js -->
<script src="~/site/assets/js/fly-cart.js"></script>

<!-- Quantity js -->
@* <script src="~/site/assets/js/quantity-2.js"></script> *@
<script src="~/site/assets/js/quantity.js"></script>

<!-- WOW js -->
<script src="~/site/assets/js/wow.min.js"></script>
<script src="~/site/assets/js/custom-wow.js"></script>

<!-- script js -->
<script src="~/site/assets/js/script.js"></script>

@* <!-- thme setting js -->
<script src="~/site/assets/js/theme-setting.js"></script>  *@


@* -----------------------------------------------  13  script  -------------------------------------------------------------*@

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

<script src="~/lib/sweetAlert2/sweetalert2.min.js"></script>

<script src="~/lib/custom/ajaxRequest.js"></script>

<script src="~/lib/custom/ajaxResponseHanler.js"></script>


@* <script>
    let toast_form = document.getElementById('toast-form');

    if (toast_form) {

        let Title = document.getElementById('toast-title').value;
        let Text = document.getElementById('toast-text').value;
        let Type = document.getElementById('toast-type').value;
        let Position = document.getElementById('toast-position').value;
        let Time = document.getElementById('toast-time').value;

        Toast(Title, Text, Type, Time);
    }

</script> *@

