@using OrganicShop.Domain.Dtos.CommentDtos
@model CreateCommentDto

<div class="leave-box">
    <div class="leave-title mt-0">
        <h3>ارسال دیدگاه</h3>
    </div>

    <form class="leave-comment" method="post" onsubmit="FetchRequest(event)" action="/Comment/Create">
        @if (Model.ProductId != null)
        {
            <input asp-for="ProductId" hidden readonly />
        }
        else if (Model.ArticleId != null)
        {
            <input asp-for="ArticleId" hidden readonly />
        }
        else
        {
            throw new Exception("productId and articleId are null in send comment partial !");
        }
        <div class="comment-notes">
            <p class="text-content mb-4">آدرس ایمیل شما منتشر نخواهد شد!</p>
        </div>
        <div class="row g-3">
            <div class="col-xxl-6 col-lg-12 col-sm-6 mb-2">
                <div class="blog-input">
                    <input type="text" asp-for=AuthorName class="form-control" id="exampleFormControlInput1" placeholder="نام شما">
                    <span asp-validation-for="AuthorName" class="mt-2 text-danger"></span>
                </div>
            </div>

            <div class="col-xxl-6 col-lg-12 col-sm-6 mb-2">
                <div class="blog-input">
                    <input asp-for="Email" type="email" class="form-control" id="exampleFormControlInput2" placeholder="آدرس ایمیل">
                    <span asp-validation-for="Email" class="mt-2 text-danger"></span>
                </div>
            </div>


            <div class="col-12 mb-2">
                <div class="blog-input">
                    <textarea asp-for="Text" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="دیدگاه شما"></textarea>
                    <span asp-validation-for="Text" class="mt-2 text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-check d-flex mt-2 p-0 mb-3">
            <input asp-for="SaveNameAndEmail" class="checkbox_animated" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label text-content" for="flexCheckDefault">
                <span class="color color-1"> نام و ایمیل من را برای دفعات بعدی ذخیره کن!</span>
            </label>
            <span asp-validation-for="SaveNameAndEmail" class="mt-2 text-danger"></span>
        </div>

        <button type="submit" class="btn btn-animation ms-xxl-auto mt-xxl-0 mt-3 btn-md fw-bold">ارسال دیدگاه</button>
    </form>
</div>


