@using OrganicShop.Domain.Dtos.ProductItemDtos
<div class="top-nav top-header sticky-header sticky-header-3">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="navbar-top">
                    <button class="navbar-toggler d-xl-none d-block p-0 me-3" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                        <span class="navbar-toggler-icon">
                            <i class="iconly-Category icli theme-color"></i>
                        </span>
                    </button>
                    <a href="index.html" class="web-logo nav-logo">
                        <img src="assets/images/logo/1.png" class="img-fluid blur-up lazyload" alt="">
                    </a>

                    <div class="search-full">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i data-feather="search" class="font-light"></i>
                            </span>
                            <input type="text" class="form-control search-type" placeholder="Search here..">
                            <span class="input-group-text close-search">
                                <i data-feather="x" class="font-light"></i>
                            </span>
                        </div>
                    </div>

                    <div class="middle-box">
                        <div class="center-box">
                            <form id="search-header-form" class="searchbar-box order-xl-1 d-none d-xl-block" action="/products/search/title" method="get">
                                <input type="search" id="search-header-form-input" class="form-control" placeholder="جستجوی محصول ...">
                                <button type="button" id="search-header-form-button" class="btn search-button">
                                    <i class="iconly-Search icli"></i>
                                </button>
                            </form>
                            <div class="location-box-2">
                                <button class="btn location-button" data-bs-toggle="modal"
                                        data-bs-target="#locationModal">
                                    <i class="iconly-Location icli"></i>
                                    <span class="locat-name">مکان شما</span>
                                    <i class="fa-solid fa-angle-down down-arrow"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="rightside-menu">

                        <div class="option-list">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" class="header-icon user-icon search-icon">
                                        <i class="iconly-Profile icli"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" class="header-icon search-box search-icon">
                                        <i class="iconly-Search icli"></i>
                                    </a>
                                </li>

                                @*
                                <li>
                                    <a href="compare.html" class="header-icon">
                                        <small class="badge-number">2</small>
                                        <i class="iconly-Swap icli"></i>
                                    </a>
                                </li>
                                *@
                                
                                <li class="onhover-dropdown">
                                    <a href="javascript:void(0)" class="header-icon swap-icon">
                                        <i class="iconly-Heart icli"></i>
                                    </a>

                                </li>

                                @await Html.PartialAsync("_CartSummary", new List<ProductItemListDto>())

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>