@{
    ViewData["Title"] = "Error 403";
}

@section Breadcrumb {

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2> خطا : دسترسی غیر مجاز </h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">خطا</li>
                                <li class="breadcrumb-item active">دسترسی غیر مجاز</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
}
<!-- 404 Section Start -->
<section class="section-404 section-lg-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="image-404">
                    <img src="~/site/assets/images/inner-page/401.png" class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>

            <div class="col-12">
                <div class="contain-404">
                    <h3 class="text-content"></h3>
                    <button onclick="location.assign('/');"
                            class="btn btn-md text-white theme-bg-color mt-4 mx-auto">
                        بازگشت به صفحه اصلی
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 404 Section End -->