 <!-- Page Sidebar Start-->
<div class="sidebar-wrapper">
    <div id="sidebarEffect"></div>
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a href="/Admin" data-bs-original-title="" title="">
                <img class="img-fluid for-white" src="~/media/images/logo/full-white.png" alt="logo">
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="index.html">
                <img class="img-fluid main-logo main-white" src="~/media/images/logo/logo.png" alt="logo">
                <img class="img-fluid main-logo main-dark" src="~/media/images/logo/logo-white.png" alt="logo">
            </a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/Admin">
                            <i class="ri-home-line"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-user-3-line"></i>
                            <span>کاربران</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/User/">لیست کاربران</a>
                            </li>
                            <li>
                                <a href="/Admin/User/Create">افزودن کاربر جدید</a>
                            </li>
                            <li>
                                <a href="/Admin/User/Permission">مجوز کاربر</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>محصولات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/Product/">لیست محصولات</a>
                            </li>

                            <li>
                                <a href="/Admin/Product/Create">افزودن محصول جدید</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-check-2"></i>
                            <span>دسته بندی</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/Category/">لیست دسته ها</a>
                            </li>

                            <li>
                                <a href="/Admin/Category/Create">افزودن دسته جدید</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-settings-line"></i>
                            <span>ویژگی ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/Property/">لیست ویژگی ها</a>
                            </li>

                            <li>
                                <a href="/Admin/Property/Create">افزودن ویژگی جدید</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-settings-line"></i>
                            <span>برچسب ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/Tag/">لیست برچسب ها</a>
                            </li>

                            <li>
                                <a href="/Admin/Tag/Create">افزودن برچسب جدید</a>
                            </li>
                        </ul>
                    </li>

                  @*   <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-user-3-line"></i>
                            <span>نقش ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="role.html">تمام نقش ها</a>
                            </li>
                            <li>
                                <a href="create-role.html">افزودن نقش جدید</a>
                            </li>
                        </ul>
                    </li> *@

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-settings-line"></i>
                            <span>رسانه</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/Picture/">تصاویر</a>
                            </li>

                           @*  <li>
                                <a href="/Admin/Tag/Create">افزودن برچسب جدید</a>
                            </li> *@
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>سفارشات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="order-list.html">لیست سفارشات</a>
                            </li>
                            <li>
                                <a href="order-detail.html">جزئیات سفارش</a>
                            </li>
                            <li>
                                <a href="order-tracking.html">رهگیری سفارش</a>
                            </li>
                        </ul>
                    </li>

                 @*    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-focus-3-line"></i>
                            <span>قطب نما</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="translation.html">ترجمه</a>
                            </li>

                            <li>
                                <a href="currency-rates.html">نرخ ارز</a>
                            </li>
                        </ul>
                    </li> *@

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-price-tag-3-line"></i>
                            <span>کد تخفیف</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/Admin/Discount/">لیست تخفیف ها</a>
                            </li>

                            <li>
                                <a href="/Admin/Discount/Create">افزودن</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="/Admin/ContactUs">
                            <i class="ri-price-tag-3-line"></i>
                            <span>ارتباط با ما</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="product-review.html">
                            <i class="ri-star-line"></i>
                            <span>بررسی محصول</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="support-ticket.html">
                            <i class="ri-phone-line"></i>
                            <span>تیکت ها</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-settings-line"></i>
                            <span>تنظیمات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="profile-setting.html">تنظیمات حساب</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="reports.html">
                            <i class="ri-file-chart-line"></i>
                            <span>گزارشات</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="list-page.html">
                            <i class="ri-list-check"></i>
                            <span>لیست برگه ها</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>
<!-- Page Sidebar Ends-->